<ion-view class="custom admin brandbassadorView">
<ion-nav-title>{{users['_'+idUser].first_name}} {{users['_'+idUser].last_name}}</ion-nav-title>
    <ion-content>

        <div class="info">
            <span>{{strings.admin.brandbassadorView.pageInfo}}</span>
        </div>

        <div class="actions padding">
          <div ng-show="currentUser.is_active == '0'" class="button button-block button-positive" ng-click="onApproveClick(currentUser.id)">
            {{strings.admin.brandbassadors.actionApprove}}
          </div>
        </div>

        <div class="stats">
        	<div class="row">
        		<div class="col global">
        			<div class="value">{{users["_"+idUser].ranking.global.rank}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelGlobal}}</div>
        		</div>
        		<div class="col country">
        			<div class="value">{{users["_"+idUser].ranking.country.rank}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelCountry}}</div>
        		</div>
        		<div class="col city">
        			<div class="value">{{users["_"+idUser].ranking.city.rank}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelCity}}</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col salesPoints">
        			<div class="value">{{users["_"+idUser].points.sales}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelSalesPoints}}</div>
        		</div>
        		<div class="col bonusPoints">
        			<div class="value">{{users["_"+idUser].points.bonus}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelBonusPoints}}</div>
        		</div>
        		<div class="col sales">
        			<div class="value">{{users["_"+idUser].sales}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelSales}}</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col codes">
        			<div class="value">{{users["_"+idUser].coupons}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelCodes}}</div>
        		</div>
        		<div class="col earnings">
        			<div class="value">$ {{users["_"+idUser].earnings.total}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelEarnings}}</div>
        		</div>
        		<div class="col commission">
        			<div class="value">$ {{users["_"+idUser].earnings.cash}}</div>
        			<div class="label">{{strings.admin.brandbassadorView.labelCommission}}</div>
        		</div>
        	</div>
        </div>
        
        <div class="row social">
          <div class="col col-25">
            <div class="wrapper fb button">
              <div class="logo ion-social-facebook"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('facebook')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('facebook')">{{users["_"+idUser].networks.facebook.followers}}</div>
            </div>
          </div>
          <div class="col col-25">
            <div class="wrapper tw button">
              <div class="logo ion-social-twitter"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('twitter')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('twitter')">{{users["_"+idUser].networks.twitter.followers}}</div>
            </div>
          </div>
          <div class="col col-25">
            <div class="wrapper inst button">
              <div class="logo ion-social-instagram-outline"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('instagram')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('instagram')">{{users["_"+idUser].networks.instagram.followers}}</div>
            </div>
          </div>
          <div class="col col-25">
            <div class="wrapper tub button">
              <div class="logo ion-social-tumblr"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('tumblr')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('tumblr')">{{users["_"+idUser].networks.tumblr.followers}}</div>
            </div>
          </div>
        </div>
        <div class="row social">
          <div class="col col-25">
            <div class="wrapper pin button">
              <div class="logo ion-social-pinterest"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('pinterest')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('pinterest')">{{users["_"+idUser].networks.pinterest.followers}}</div>
            </div>
          </div>
          <div class="col col-25">
            <div class="wrapper yb button">
              <div class="logo ion-social-youtube"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('youtube')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('youtube')">{{users["_"+idUser].networks.youtube.followers}}</div>
            </div>
          </div>
          <div class="col col-25">
            <div class="wrapper vn button">
              <div class="logo"></div>
              <div class="label" ng-hide="showUserNetworkFollowers('vine')">{{strings.social.actionLink}}</div>
              <div class="label" ng-show="showUserNetworkFollowers('vine')">{{users["_"+idUser].networks.vine.followers}}</div>
            </div>
          </div>
        </div>

  		<div class="list padding">

  			<label class="delimiter"></label>
			<form>
			  	<label class="item item-input top">
			    	<input type="text" ng-model="users['_'+idUser].first_name" placeholder="{{strings.profile.inputFirstNameInfo}}" disabled>
			  	</label>
		  	  	<label class="item item-input middle">
		  	    	<input type="text" ng-model="users['_'+idUser].last_name" placeholder="{{strings.profile.inputLastNameInfo}}" disabled>
		  	  	</label>
		  	  	<label class="item item-input middle">
		  	    	<input autocapitalize="off" type="text" ng-model="users['_'+idUser].email" placeholder="{{strings.profile.inputEmailInfo}}" disabled>
		  	  	</label>
		  	  	<label class="item item-input middle">
		  	  	  <input autocapitalize="off" type="text" ng-model="users['_'+idUser].gender" placeholder="{{strings.profile.inputPhoneInfo}}" disabled>
		  	  	</label>
		  	  	<label class="item item-input bottom">
		  	    	<input autocapitalize="off" type="text" ng-model="users['_'+idUser].phone" placeholder="{{strings.profile.inputPhoneInfo}}" disabled>
		  	  	</label>
			</form>
			<label class="delimiter"></label>  

			<form>
			  <label class="input-label full-width">{{strings.profile.inputBirthdayInfo}}</label>
			  <label class="item item-input top">
			    <input autocapitalize="off" type="text" ng-model="users['_'+idUser].day" placeholder="{{strings.profile.labelDay}}" disabled>
			  </label>
			  <label class="item item-input middle">
			    <input autocapitalize="off" type="text" value="{{strings.months[users['_'+idUser].month - 1]}}" placeholder="{{strings.profile.labelMonth}}" disabled>
			  </label>
			  <label class="item item-input bottom">
			    <input autocapitalize="off" type="text" ng-model="users['_'+idUser].year" placeholder="{{strings.profile.labelYear}}" disabled>
			  </label>
			</form>
			<label class="delimiter"></label>

			  <label class="input-label full-width">{{strings.profile.labelAddress}}</label>
			  <form>
			    <label class="item item-input top">
			      <input type="text" ng-model="users['_'+idUser].address" placeholder="{{strings.profile.inputAddress1Info}}" disabled>
			    </label>
			    <label class="item item-input middle">
			      <input type="text" ng-model="users['_'+idUser].address_2" placeholder="{{strings.profile.inputAddress2Info}}" disabled>
			    </label>
			    <label class="item item-input middle">
			      <input autocapitalize="off" type="text" ng-model="users['_'+idUser].postcode" placeholder="{{strings.profile.inputCodeInfo}}" disabled>
			    </label>
			  </form>
			  <form>
			    <label class="item item-input middle">
			      <input autocapitalize="off" type="text" ng-model="users['_'+idUser].country.short_name" placeholder="{{strings.profile.labelCountry}}" disabled>
			    </label>
			    <label ng-show="users['_'+idUser].country.id == '236'" class="item item-input middle">
			      <input autocapitalize="off" type="text" ng-model="users['_'+idUser].state.state" placeholder="{{strings.profile.labelState}}" disabled>
			    </label>
			    <label class="item item-input bottom">
			      <input autocapitalize="off" type="text" ng-model="users['_'+idUser].city" placeholder="{{strings.profile.labelCity}}" disabled>
			    </label>
			  </form>
			  <label class="delimiter"></label>

			  <label class="input-label full-width">{{strings.profile.labelSchool}}</label>
			  <form>
			    <label class="item item-input top">
			      <input autocapitalize="off" type="text" ng-model="users['_'+idUser].school.name" placeholder="{{strings.profile.inputSchoolInfo}}" disabled>
			    </label>
			    <label class="item item-input bottom">
			      <input type="text" ng-model="users['_'+idUser].school.graduation_year" placeholder="{{strings.profile.inputGraduationInfo}}" disabled>
			    </label>
			  </form>
			  <label class="delimiter"></label>
		</div> 
        
    </ion-content>
</ion-view>
