<ion-view view-title="{{strings.admin.brandbassadors.pageTitle}}" class="custom admin brandbassadors">
    <ion-content>

        <div class="info">
            <span>{{strings.admin.brandbassadors.pageInfo}}</span>
        </div>
        
        <div class="table-title">
            <span>{{strings.admin.brandbassadors.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-70 name">{{strings.admin.brandbassadors.topTableHeaderName}}</div>
                <div class="col col-30 status">{{strings.admin.brandbassadors.topTableHeaderFollowers}}</div>
            </div>
        </div>

        
        <div class="table-body">
        	<ion-list>
                <ion-item ng-href="#/admin/brandbassadors/{{brandbassador.id}}" ng-click="onUserClick(brandbassador)" ng-repeat="brandbassador in brandbassadors">
                    <div class="row">
                        <div class="col col-15 image" ng-click="viewUser(brandbassador.id)">
                            <span class="image" ng-style="{'background-image' : 'url({{brandbassador.profile_pic}})'}"></span>
                        </div>
                        <div class="col col-55 details">
                            <div class="name">{{brandbassador.first_name}} {{brandbassador.last_name}}</div>
                            <div class="location">
                                <span class="ion-location"></span>
                                <span ng-show="brandbassador.country.short_name != null"> {{brandbassador.country.short_name}}</span>
                                <span ng-hide="brandbassador.country.short_name != null"> {{strings.admin.brandbassadors.labelLocationNotProvided}}</span>
                            </div>
                        </div>
                        <div class="col col-30 followers">
                        	{{brandbassador.followers}}
                        </div>
                    </div>
                </ion-item>

                <div class="row" ng-hide="brandbassadors.length > 0">
                    {{strings.admin.brandbassadors.tableNoData}}
                </div>
            </ion-list>
            
            <ion-infinite-scroll ng-if="hasMoreUsers()" on-infinite="loadMoreUsers()" distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
