<ion-view view-title="{{strings.admin.dashboard.pageTitle}}" class="custom admin adminDashboard">
    <ion-content>

        <div class="adminStats">
        	<div class="row">
        		<div class="col users">
        			<div class="value">{{adminStats.total_users}}</div>
        			<div class="label">{{strings.admin.dashboard.labelUsers}}</div>
        		</div>
        		<div class="col sales">
        			<div class="value">{{adminStats.pending_users}}</div>
        			<div class="label">{{strings.admin.dashboard.labelPendingUsers}}</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col followers">
        			<div class="value">{{adminStats.total_social}}</div>
        			<div class="label">{{strings.admin.dashboard.labelFollowers}}</div>
        		</div>
        		<div class="col salesPoints">
        			<div class="value">{{adminStats.total_social_last24h}}</div>
        			<div class="label">{{strings.admin.dashboard.labelFollowersLastDay}}</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col earnings">
        			<div class="value">$ {{adminStats.total_earnings}}</div>
        			<div class="label">{{strings.admin.dashboard.labelEarnings}}</div>
        		</div>
        		<div class="col commission">
        			<div class="value">$ {{adminStats.commission}}</div>
        			<div class="label">{{strings.admin.dashboard.labelCommission}}</div>
        		</div>
        	</div>
        </div>
        <div class="notificationsTitle table-title">
            <span>{{strings.admin.dashboard.labelNotifications}}</span>
        </div>

        <ion-list class="notifications">
            <ion-item class="notification" ng-click="onNotificationClick(notification)" ng-repeat="notification in adminNotifications" ng-bind-html="notification.message">
            </ion-item>
        </ion-list>

        <div class="row" ng-hide="adminNotifications.length > 0">
            {{strings.admin.dashboard.labelNoNotifications}}
        </div>
        
        <ion-infinite-scroll ng-if="hasMoreNotifications()" on-infinite="loadMoreNotifications()" distance="1%">
        </ion-infinite-scroll>
        
    </ion-content>
</ion-view>
