<ion-view class="custom admin goalEdit">
<ion-nav-title>{{currentGoal.title}}</ion-nav-title>
    <ion-content>

        <div class="info">
            <span>{{strings.admin.goalEdit.pageInfo}}</span>
        </div>

        <div class="padding">
            <div class="item item-input">
                <input type="text" ng-model="goalDetails.title" required>
                <label>{{strings.admin.goalEdit.inputInfoTitle}}</label>
            </div>
            <div class="item item-input">
                <input type="text" ng-model="goalDetails.invited" required>
                <label>{{strings.admin.goalEdit.inputInfoInvited}}</label>
            </div>
            <div class="item item-input">
                <input type="text" ng-model="goalDetails.points" required>
                <label>{{strings.admin.goalEdit.inputInfoPoints}}</label>
            </div>
            <div class="item item-input">
                <input type="text" ng-model="goalDetails.required_age" required>
                <label>{{strings.admin.goalEdit.inputInfoAge}}</label>
            </div>
        </div>

        <div class="button button-positive button-block" ng-click="onSaveClick()">{{strings.admin.goalEdit.actionSave}}</div>

    </ion-content>
</ion-view>
