<ion-view view-title="{{currentGoal.title}}" class="custom admin goalWinners">
    <ion-content>

        <div class="info">
            <span>{{strings.admin.goalWinners.pageInfo}}</span>
        </div>

        <div class="padding">
            <button class="button button-block button-calm" ng-click="editGoal(idGoal)">{{strings.admin.goalWinners.actionEdit}}</button>
        </div>
        
        <div class="table-title">
            <span>{{strings.admin.goalWinners.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-100 name">{{strings.admin.goalWinners.topTableHeaderName}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <ion-list>
                <ion-item ng-href="#/admin/brandbassadors/{{user.id}}" ng-repeat="user in winners['_'+idGoal]">
                    <div class="row">
                        <div class="col col-15 image">
                            <span class="image" ng-style="{'background-image' : 'url({{user.profile_pic}})'}"></span>
                        </div>
                        <div class="col col-85 name">{{user.first_name}} {{user.last_name}}</div>
                    </div>
                </ion-item>
            </ion-list>

            <div class="row" ng-hide="winners['_'+idGoal].length > 0">
                {{strings.admin.goalWinners.tableNoData}}
            </div>
            
            <ion-infinite-scroll ng-if="hasMoreWinners()" on-infinite="loadMoreWinners()" distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
