<ion-view view-title="{{strings.admin.goals.pageTitle}}" class="custom admin missions">
    <ion-content>

        <div class="info">
            <span>{{strings.admin.goals.pageInfo}}</span>
        </div>
        
        <div class="table-title">
            <span>{{strings.admin.goals.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-100 name">{{strings.admin.goals.topTableHeaderName}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <ion-list>
                <ion-item ng-href="#/admin/goals/{{goal.id}}" ng-click="viewGoal(goal)" ng-repeat="goal in adminGoals">
                    <div class="row">
                        <div class="col col-15 image">
                            <span class="image" ng-style="{'background-image' : 'url({{goal.image}})'}"></span>
                        </div>
                        <div class="col col-85 name">{{goal.title}}</div>
                    </div>
                </ion-item>
            </ion-list>

            <div class="row" ng-hide="adminGoals.length > 0">
                {{strings.admin.goals.tableNoData}}
            </div>
            
            <ion-infinite-scroll ng-if="hasMoreGoals()" on-infinite="loadMoreGoals()" distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
