<ion-view view-title="{{strings.admin.missions.pageTitle}}" class="custom admin missions">
    <ion-content>

        <div class="info">
            <span>{{strings.admin.missions.pageInfo}}</span>
        </div>
        
        <div class="table-title">
            <span>{{strings.admin.missions.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-100 name">{{strings.admin.missions.topTableHeaderName}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <ion-list>
                <ion-item ng-href="#/admin/missions/{{mission.id}}" ng-click="viewMission(mission)" ng-repeat="mission in adminMissions">
                    <div class="row">
                        <div class="col col-15 image">
                            <span class="image" ng-style="{'background-image' : 'url({{mission.image}})'}"></span>
                        </div>
                        <div class="col col-85 name">{{mission.name}}</div>
                    </div>
                </ion-item>
            </ion-list>

            <div class="row" ng-hide="missions.length > 0">
                {{strings.admin.missions.tableNoData}}
            </div>
            
            <ion-infinite-scroll ng-if="hasMoreMissions()" on-infinite="loadMoreMissions()" distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
