<ion-view class="custom admin missionEdit">
<ion-nav-title>{{currentMission.name}}</ion-nav-title>
    <ion-content>

        <div id="mission-info" class="info">
            <span>{{strings.admin.missionEdit.pageInfo}}</span>
        </div>

        <ion-list>
            <div ng-repeat="(index, item) in items" goals-repeat>
                <ion-item id="item-{{index}}" class="item-stable" ng-click="toggleItem(index)" ng-class="{active: isItemShown(index)}">
                    <div class="table-title">
                        <span>
                            <div class="arrow {{item.arrow_type}}"></div>
                            <div class="name" ng-bind-html="item.title"></div>
                        </span>
                    </div>
                </ion-item>
                <ion-item class="item-accordion item-text-wrap" ng-show="isItemShown(index)">
                    <div class="content">
                        <div ng-repeat="input in item.inputs">
                            <div ng-show="input.type == 'text'" class="item item-input">
                                <input type="text" ng-model="missionDetails[input.value]" required>
                                <label>{{input.label}}</label>
                            </div>

                            <label ng-show="input.type == 'checkbox'" class="checkbox">
                                <input ng-model="missionDetails[input.value]" type="checkbox"> 
                                <span class="details">
                                    <span>{{input.label}}</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </ion-item>
            </div>

        </ion-list>

        <div class="button button-positive button-block" ng-click="onSaveClick()">{{strings.admin.missionEdit.actionSave}}</div>

    </ion-content>
</ion-view>
