<ion-view class="custom admin missionUserApplication">
<ion-nav-title>{{currentMissionUser.first_name}} {{currentMissionUser.last_name}}</ion-nav-title>
    <ion-content>

        <div class="info">
            <span>{{strings.admin.missionUserApplication.pageInfo}}</span>
        </div>
        
        <div class="details">
            <div class="row">
                <div class="col">{{strings.admin.missionUserApplication.labelName}}</div>
                <div class="col">{{missionUserApplication.first_name}} {{missionUserApplication.last_name}}</div>
            </div>
            <div class="row">
                <div class="col">{{strings.admin.missionUserApplication.labelSubmitted}}</div>
                <div class="col">{{missionUserApplication.submitted | date:'dd MMM yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col">{{strings.admin.missionUserApplication.labelStatus}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.status == '-1'">{{strings.admin.missionUserApplication.labelStatusRejected}}</span>
                    <span ng-show="missionUserApplication.status == '0'">{{strings.admin.missionUserApplication.labelStatusPending}}</span>
                    <span ng-show="missionUserApplication.status == '1'">{{strings.admin.missionUserApplication.labelStatusApproved}}</span>
                </div>
            </div>
            <div class="row" ng-show="missionUserApplication.allow_link">
                <div class="col">{{strings.admin.missionUserApplication.labelLink}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.link">{{missionUserApplication.link}}</span>
                    <span ng-hide="missionUserApplication.link">{{strings.admin.missionUserApplication.labelNotProvided}}</span>
                </div>
            </div>
            <div class="row" ng-show="missionUserApplication.allow_text">
                <div class="col">{{strings.admin.missionUserApplication.labelText}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.text">{{missionUserApplication.text}}</span>
                    <span ng-hide="missionUserApplication.text">{{strings.admin.missionUserApplication.labelNotProvided}}</span>
                </div>
            </div>
            <div class="row" ng-show="missionUserApplication.allow_image">
                <div class="col">{{strings.admin.missionUserApplication.labelImage}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.image">
                        <img src="{{missionUserApplication.image}}" alt="Image"/>
                    </span>
                    <span ng-hide="missionUserApplication.image">{{strings.admin.missionUserApplication.labelNotProvided}}</span>
                </div>
            </div>
            <div class="row" ng-show="missionUserApplication.fb_share">
                <div class="col">{{strings.admin.missionUserApplication.labelFacebook}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.fb_shared">{{strings.admin.missionUserApplication.labelShared}}</span>
                    <span ng-hide="missionUserApplication.fb_shared">{{strings.admin.missionUserApplication.labelNotShared}}</span>
                </div>
            </div>
            <div class="row" ng-show="missionUserApplication.tw_share">
                <div class="col">{{strings.admin.missionUserApplication.labelTwitter}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.tw_shared">{{strings.admin.missionUserApplication.labelShared}}</span>
                    <span ng-hide="missionUserApplication.tw_shared">{{strings.admin.missionUserApplication.labelNotShared}}</span>
                </div>
            </div>
            <div class="row" ng-show="missionUserApplication.pin_share">
                <div class="col">{{strings.admin.missionUserApplication.labelPinterest}}</div>
                <div class="col">
                    <span ng-show="missionUserApplication.pin_shared">{{strings.admin.missionUserApplication.labelShared}}</span>
                    <span ng-hide="missionUserApplication.pin_shared">{{strings.admin.missionUserApplication.labelNotShared}}</span>
                </div>
            </div>
        </div>

        <div class="actions" ng-show="missionUserApplication.status == '0'">
            <div class="row">
                <div class="col">
                    <div class="button button-block button-calm" ng-click="onApproveClick()">{{strings.admin.missionUserApplication.actionApprove}}</div>
                </div>
                <div class="col">
                    <div class="button button-block button-assertive" ng-click="onRejectClick()">{{strings.admin.missionUserApplication.actionReject}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
