<ion-view class="custom admin missionUsers">
<ion-nav-title>{{currentMission.name}}</ion-nav-title>
    <ion-content>

        <div class="info">
            <span>{{strings.admin.missionUsers.pageInfo}}</span>
        </div>

        <div class="padding">
            <button class="button button-block button-calm" ng-click="editMission(currentMission.id)">{{strings.admin.missionUsers.actionEdit}}</button>
        </div>

        <div class="table-title">
            <span>{{strings.admin.missionUsers.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-100 name">{{strings.admin.missionUsers.topTableHeaderName}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <ion-list>
                <ion-item ng-href="#/admin/missions/{{currentMission.id}}/{{user.id}}" ng-click="viewApplication(user)" ng-repeat="user in applications['_'+idMission]">
                    <div class="row">
                        <div class="col col-15 image">
                            <span class="image" ng-style="{'background-image' : 'url({{user.profile_pic}})'}"></span>
                        </div>
                        <div class="col col-85 name">{{user.first_name}} {{user.last_name}}</div>
                    </div>
                </ion-item>
            </ion-list>

            <div class="row" ng-hide="applications['_'+idMission].length > 0">
                {{strings.admin.missionUsers.tableNoData}}
            </div>
            
            <ion-infinite-scroll ng-if="hasMoreUsers()" on-infinite="loadMoreUsers()" distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
