<ion-view view-title="{{strings.profile.pageTitle}}" class="custom admin profile">
  	<ion-content>
  		<div class="info">
  		    <span>{{strings.profile.pageInfo}}</span>
  		</div>  

  		<div class="list padding">

  			<label class="delimiter"></label>
			<form>
			  	<div class="item item-input top">
			    	<input type="text" ng-model="profileData.first_name" required>
			    	<label>{{strings.profile.inputFirstNameInfo}}</label>
			  	</div>
		  	  	<div class="item item-input middle">
		  	    	<input type="text" ng-model="profileData.last_name" required>
		  	    	<label>{{strings.profile.inputLastNameInfo}}</label>
		  	  	</div>
		  	  	<div class="item item-input middle">
		  	    	<input autocapitalize="off" type="text" ng-model="profileData.email" required>
		  	    	<label>{{strings.profile.inputEmailInfo}}</label>
		  	  	</div>
		  	  	<div class="item item-input middle">
		  	  	  <select ng-model="profileData.gender">
		  	  	    <option value="" disabled="disabled">{{strings.profile.inputGenderInfo}}</option>
		  	  	    <option value="1">{{strings.profile.labelMale}}</option>
		  	  	    <option value="0">{{strings.profile.labelFemale}}</option>
		  	  	  </select>
		  	  	</div>
		  	  	<div class="item item-input bottom">
		  	    	<input autocapitalize="off" type="text" ng-model="profileData.phone" required>
		  	    	<label>{{strings.profile.inputPhoneInfo}}</label>
		  	  	</div>
			</form>
			<label class="delimiter"></label>  

			<form>
			  <label class="input-label full-width">{{strings.profile.inputBirthdayInfo}}</label>
			  <div class="item item-input top">
			    <select ng-model="profileData.day">
			      <option value="" disabled="disabled">{{strings.profile.labelDay}}</option>
			      <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
			    </select>
			  </div>
			  <div class="item item-input middle">
			    <select ng-model="profileData.month">
			      <option value="" disabled="disabled">{{strings.profile.labelMonth}}</option>
			      <option ng-repeat="(key, month) in months" value="{{key+1}}">{{month}}</option>
			    </select>
			  </div>
			  <div class="item item-input bottom">
			    <select ng-model="profileData.year">
			      <option value="" disabled="disabled">{{strings.profile.labelYear}}</option>
			      <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
			    </select>
			  </div>
			</form>
			<label class="delimiter"></label>

			  <form>
			  	<label class="input-label full-width">{{strings.profile.labelAddress}}</label>
			    <div class="item item-input top">
			      <input type="text" ng-model="profileData.address" required>
			    	<label>{{strings.profile.inputAddress1Info}}</label>
			    </div>
			    <div class="item item-input middle">
			      <input type="text" ng-model="profileData.address_2" required>
			      <label>{{strings.profile.inputAddress2Info}}</label>
			    </div>
			    <div class="item item-input middle">
			      <input autocapitalize="off" type="text" ng-model="profileData.postcode" required>
			      <label>{{strings.profile.inputCodeInfo}}</label>
			    </div>
			  </form>
			  <form>
			    <label class="item item-input middle">
			      <select ng-model="profileData.country.id" ng-change="onCountryChange()">
			        <option value="" disabled="disabled">{{strings.profile.labelCountry}}</option>
			        <option ng-repeat="country in countries" value="{{country.id}}">{{country.short_name}}</option>
			      </select>
			    </label>
			    <label ng-show="profileData.country.id == '236'" class="item item-input middle">
			      <select ng-model="profileData.state.id" ng-change="onStateChange()">
			        <option value="" disabled="disabled">{{strings.profile.labelState}}</option>
			        <option ng-repeat="state in states" value="{{state.id}}">{{state.state}}</option>
			      </select>
			    </label>
			    <label class="item item-input bottom">
			      <select ng-model="profileData.city" ng-change="onCityChange()" ng-show="cityInputType == 'select'">
			        <option value="" disabled="disabled">{{strings.profile.labelCity}}</option>
			        <option value="-1" >{{strings.profile.labelOther}}</option>
			        <option ng-repeat="city in cities" value="{{city.city}}">{{city.city}}</option>
			      </select>
			      <div class="item item-input">
			      	<input type="text" ng-model="profileData.city" ng-show="cityInputType == 'text'" required/>
			      	<label>{{strings.profile.labelCity}}</label>
			      </div>
			    </label>
			  </form>
			  <label class="delimiter"></label>

			  <form>
			  	<label class="input-label full-width">{{strings.profile.labelSchool}}</label>
			    <label class="item item-input top">
			      <select ng-model="profileData.school.name" ng-change="onSchoolChange()" ng-show="schoolInputType == 'select'">
			        <option value="" disabled="disabled">{{strings.profile.labelSchool}}</option>
			        <option value="-1">{{strings.profile.labelOther}}</option>
			        <option ng-repeat="school in schools" value="{{school.name}}">{{school.name}}</option>
			      </select>
			      <div class="item item-input">
			      	<input type="text" ng-model="profileData.school.name" ng-show="schoolInputType == 'text'" required/>
			      	<label>{{strings.profile.inputSchoolInfo}}</label>
			      </div>
			    </label>
			    <div class="item item-input bottom">
			      <input type="text" ng-model="profileData.school.graduation_year" required>
			      <label>{{strings.profile.inputGraduationInfo}}</label>
			    </div>
			  </form>
			  <label class="delimiter"></label>

			  <div class="button button-block button-positive" ng-click="updateProfile()">{{strings.profile.actionUpdate}}</div>
			  <label class="delimiter"></label>
		</div> 

  	</ion-content>
</ion-view>
