<ion-view view-title="{{strings.admin.settings.pageTitle}}" class="custom admin settings">
    <ion-content delegate-handle="settings">

  		<div id="settings-info" class="info">
            <span>{{strings.admin.settings.pageInfo}}</span>
        </div>

        <ion-list>
            <div ng-repeat="(index, item) in items" goals-repeat>
                <ion-item id="item-{{index}}" class="item-stable" ng-click="toggleItem(index)" ng-class="{active: isItemShown(index)}">
                    <div class="table-title">
                        <span>
                            <div class="arrow {{item.arrow_type}}"></div>
                            <div class="name" ng-bind-html="item.title"></div>
                        </span>
                    </div>
                </ion-item>
                <ion-item class="item-accordion item-text-wrap" ng-show="isItemShown(index)">
                    <div class="content">
                    	<div ng-repeat="input in item.inputs">
                            <div class="item item-input">
                                <input type="text" ng-model="companySettings[input.value]" required>
                                <label>{{input.label}}</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>

        </ion-list>

        <div class="button button-positive button-block" ng-click="onSaveClick()">{{strings.admin.settings.actionSave}}</div>

  	</ion-content>
</ion-view>
