/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$main-font:                       "Roboto";
$bg-img:                          "../img/bg-img.png";
$menu-bg:                         "../img/menu-bg.png";
$bb-logo-s:                       "../img/bb-logo-s.png";
$level-1-bg:                      "../img/level-1-bg.jpg";
$level-2-bg:                      "../img/level-2-bg.jpg";
$level-3-bg:                      "../img/level-3-bg.jpg";
$vine-logo:                       "../img/vine-logo-small.png";

$view-bg-color:              	  rgba(255, 255, 255, 0.92);
$front-view-bg-color:             rgba(40, 41, 50, 0.9);
$menu-bg-color:                   rgba(255, 255, 255, 0.85);
$input-color:                     rgba(255, 255, 255, 0.85);
$ranking-top-bg:                  rgba(95, 95, 95, 0.85);

$primary-company-selector-color:  #7F8B9C;
$secodary-company-selector-color: #566271;

$primary-color:					  #73CFF4;
$secondary-color:				  #FF89BB;

$primary-bg-color:                #F4F8FB;
$secondary-bg-color:              #566173;
$tertiary-bg-color:               #E2E9F1;

$primary-text-color:              #212121;
$secondary-text-color:            #ffffff;
$tertiary-text-color:             #8a9199; // Used for tables header

$primary-success-color:           #68b10b;
$primary-warning-color:           #FFA81E;
$primary-error-color:             #ff3131;
$secondary-error-color:        	  #ff194a;

$fb-color:                        #35619E; // Facebook color
$tw-color:                        #009ccc; // Twitter color
$pin-color:                       #C72527; // Pinterest color
$inst-color:                      #3E6D91; // Instagram color
$tub-color:                       #3C5B97; // Tumblr color
$yb-color:                        #CE0F14; // Youtube color
$vn-color:                        #00B485; // Vine color
$ln-color:                        #1075AF; // Linkedin color




// The path for our ionicons font files, relative to the built CSS in app/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "app/lib/ionic/scss/ionic";

body {
	font-family: $main-font;
	font-size: 16px;
	line-height: 1em;
}

a {
	color: $primary-color;
}

span.centered {
	text-align: center;
}

// custom col sizes
.col-70 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 70%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 70%;
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	max-width: 70%;
}

.col-65 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 65%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 65%;
	-ms-flex: 0 0 65%;
	flex: 0 0 65%;
	max-width: 65%;
}

.col-55 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 55%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 55%;
	-ms-flex: 0 0 55%;
	flex: 0 0 55%;
	max-width: 55%;
}

.col-45 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 45%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 45%;
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	max-width: 45%;
}

.col-40 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 40%;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
}

.col-35 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 35%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 35%;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%;
	max-width: 35%;
}

.col-30 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}

.col-20 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 20%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 20%;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}

.col-15 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 15%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 15%;
	-ms-flex: 0 0 15%;
	flex: 0 0 15%;
	max-width: 15%;
}

// custom header
ion-header-bar {
	&.bar-custom {
		background-color: transparent;
		border: none;
		color: $primary-text-color;

		.button {
			color: $primary-text-color;
		}

		.title {
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}

// make space for companies selector
ion-view.custom,
ion-modal-view.custom {
	color: lighten($primary-text-color, 32%);

	ion-content {
		margin-top: 70px;
	}

	form {
		padding: 0 8px;
	}

	.item-input {
		margin-top: 1px;
		padding: 2px 0;
		width: 100%;
		border: none;
		background-color: transparent;

		label {
			position: absolute;
			left: 0;
			top: 18px;
			z-index: -1000;
			font-size: 16px;
			transition: all 0.3s ease-in-out;
			color: lighten($secondary-bg-color, 35%);
		}
	}

	input[type='text'],
	input[type='password'],
	textarea {
		display: block;
		font-weight: 500;
		color: lighten($primary-text-color, 32%);
		padding: 0;
		padding-top: 25px;
		padding-bottom: 18px;
		width: 100%;
		font-size: 16px;
		border: none;
		border-bottom: solid 1px lighten($secondary-bg-color, 50%);
		background-color: transparent;
		transition: all 0.3s ease-in-out;

		&:focus {
		    box-shadow: none;
		    outline: none;
		    background-position: 0 0;
		    border-bottom: solid 2px $primary-color;
		}

		&:focus ~ label,
		&:valid ~ label {
			color: $primary-color;
			font-size: 12px;
			margin-top: -20px;
		}

		&:not(:focus):valid ~ label {
			opacity: 0;
		}
	}

	textarea {
		padding-top: 25px;
		padding-bottom: 0;
	}

	select {
		width: 100%;
		padding: 12px 10px 6px 0;
		font-weight: 500;
		color: lighten($primary-text-color, 32%);
		font-size: 16px;
		border: none;
		border-bottom: solid 1px lighten($secondary-bg-color, 50%);
		background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.delimiter {
		padding: 10px;
		background-color: transparent;
		border: none;
	}

	.input-label {
		color: $primary-color;
		font-weight: 500;
		border-bottom: solid 2px $primary-color;

		&.full-width {
			width: 100%;
			max-width: none;
		}
	}	

	.checkbox {
		width: 100%;

		input {
			float: left;
		}

		input:checked+.checkbox-icon:before, input:checked:before {
			background-color: $primary-color;
			border-color: $primary-color;
		}

		span.details {
			margin-left: 15px;
			line-height: 28px;
		}
	}

	.info {
		padding: 11px 40px;
		border-bottom: 1px solid lighten($primary-bg-color, 61%);
		background-color: $tertiary-bg-color;
		text-align: center;
		font-size: 14px;
	}

	.table-title {
		padding: 17px 10px 13px 10px;

		span {
			display: inline-block;
			width: 100%;
			padding-bottom: 3px;
			color: $primary-color;
			border-bottom: 2px solid $primary-color;
			font-weight: 500;
		}
	}

	.table-header {
		text-transform: uppercase;
		background-color: $tertiary-bg-color;
		color: $tertiary-text-color;
		font-size: 12px;
		font-weight: 600;

		.row {
			padding: 12px 10px 10px 10px;

			.col {
				padding: 0;
			}
		}
	}

	.table-body {
		margin-top: 1px;
		font-size: 14px;
		font-weight: 500;
		background-color: lighten($tertiary-bg-color, 6%);

		.row {
			margin-top: 0;
			padding: 7px 10px;
			display: inline-flex;
			min-height: 50px;
			align-items: center;
			border: none;

			&:first-child {
				border: none;
			}

			.col {
				padding: 0;
				white-space: normal;

				span.image {
					width: 45px;
					height: 45px;
					display: inline-block;
					background-size: cover;
					border-radius: 50%;
				}
			}

			.button {
				padding: 3px 14px 2px 14px;
				font-size: 11px;
				line-height: 25px;
			}
		}

		.list {
			.item {
				font-size: 14px;
				font-weight: 500;
				color: lighten($primary-text-color, 32%);
				background-color: lighten($tertiary-bg-color, 6%);

				.item-content {
					background-color: transparent;
					padding: 0;

					&.activated {
						background-color: $tertiary-bg-color;
					}

					.row {
						padding: 8px 10px;
					}
				}
			}
		}
	}

	.companiesSelector {
		margin-top: 45px;
		z-index: 1000;
		position: relative;

		ion-scroll {

			.wrapper {
				font-size: 0;

				.company {
					display: inline-block;
					vertical-align: top;
					line-height: 70px;
					text-align: center;
					background-color: $primary-company-selector-color;

					&.active {
						border-bottom: 5px solid $primary-color;
					    border-bottom-left-radius: 3px;
					    border-bottom-right-radius: 3px;
					}

					img {
						max-width: 80px;
						max-height: 40px;
						vertical-align: middle;
					}
				}

				.company:nth-child(2) {
					background-color: $secodary-company-selector-color;
				}
			}
		}
	}

	.list .item {
		border: none;

		&.item-stable {
			padding: 12px 10px 1px 10px;
			min-height: 50px;
			background-color: $light;
			color: lighten($primary-text-color, 32%);

			&.active {
				background-color: $light;
			}

			.table-title {
				padding: 15px 5px 5px 5px;
				border-bottom: 1px solid lighten($primary-bg-color, 61%);

				.arrow {
					float: left;
					display: inline-block;
					padding: 0 6px;
				}

				.name {
					margin-left: 8px;
					padding-right: 20px;
					display: inline-block;
					white-space: normal;
				}
			}

		}

		&.item-accordion {
		  	padding-top: 0;
		  	padding-bottom: 0;
		  	overflow: hidden;
		  	line-height: 38px;
		  	transition: 0.09s all linear;

		  	&.ng-hide {
		  		line-height: 0px;
		  	}

			&.ng-hide-add,
			&.ng-hide-remove {
			  	display: block !important;
			}
	  	}
	}
}

ion-modal-view.custom {
	.item {
		background-color: transparent;

		input {
			border-bottom: solid 1px lighten($primary-text-color, 20%);
			color: $light;
		}
	}
}

// remove margin top for admin section
ion-view.admin {
	ion-content {
		margin-top: 0px;
	}
}

// custom view with opacity background
ion-nav-view{
	background-image: url($bg-img);
	background-size: cover;
	background-position: center top;

	ion-view {

		&.custom {
			background-color: $view-bg-color;
		}
	}
}

// remove popup head border
.popup .popup-head {
	border: 0;
}

// popup input style
.popup {
	input,
	textarea {
		color: lighten($primary-text-color, 32%);
		padding-left: 8px;
	}
}

// remove bar border
.bar-header {
	border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}

// custom button positive
.button {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	min-height: 30px;
	line-height: 34px;
	border-radius: 20px;
	border: none;
	font-weight: 600;

	&.button-positive {
		background-color: $primary-color;
		border: none;

		&.active,
		&.activated {
			background-color: darken($primary-color, 4%);
			border: none;
		}
	}

	&.button-calm {
		background-color: $secondary-color;
		border: none;

		&.active,
		&.activated {
			background-color: darken($secondary-color, 4%);
			border: none;
		}
	}

	&.button-block.margin {
		margin-left: $button-block-margin;
		margin-right: $button-block-margin;
	}

	&.default {
		background-color: $tertiary-bg-color;
		color: lighten($primary-text-color, 32%);

		&.active,
		&.activated {
			background-color: darken($tertiary-bg-color, 4%);
		}
	}
	&.fb {
		background-color: $fb-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($fb-color, 8%);
		}
	}
	&.tw {
		background-color: $tw-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($tw-color, 8%);
		}
	}
	&.inst {
		background-color: $inst-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($inst-color, 8%);
		}
	}
	&.pin {
		background-color: $pin-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($pin-color, 8%);
		}
	}
	&.tub {
		background-color: $tub-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($tub-color, 8%);
		}
	}
	&.yb {
		background-color: $yb-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($yb-color, 8%);
		}
	}
	&.vn {
		background-color: $vn-color;
		color: $secondary-text-color;

		&.active,
		&.activated {
			background-color: darken($vn-color, 8%);
		}
	}
}

// custom upload file button
.fileUpload {
	margin-bottom: 18px;
    position: relative;
    overflow: hidden;

	input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    z-index: 1000;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}

	.image-icon {
		margin-right: 10px;
	}
}


// custom modal
.modal {
	background-color: $front-view-bg-color;
}

.modal-backdrop {
	background-image: url($bg-img);
	background-size: cover;

	.modal-backdrop-bg {
		background-color: $front-view-bg-color;
	}
}

// define loadbar layout
.load-bar-wrapper {
	height: 6px;
	width: 75px;
	border-radius: 5px;

	.load-bar-value {
		height: 6px;
		border-radius: 5px;
		margin-left: 1px;
	}
}

// custom menu
ion-side-menu.menu-left {
	background-image: url($menu-bg);
	background-repeat: no-repeat;
	background-size: cover;

	.menu-bg {
		width: 100%;
		height: 100%;
		background-color: $secondary-bg-color;
		opacity: 0.9;
	}

	.bar-header {
		background-color: transparent;
		border: 0px !important;
	    border-bottom-color: transparent !important;
	    background-image: none;
	    border-bottom: none;

		.title {
			margin-left: 30px;
			color: $secondary-text-color;
			text-align: left;
			font-size: 17px;
			font-weight: 300;

			.image {
				display: block;
				margin-top: 18px;
				background-image: url($bb-logo-s);
				background-size: contain;
				background-repeat: no-repeat;
				width: 165px;
				height: 25px;
			}

			.text {
				margin-left: 10px;
			}
		}
	}

	.list {
		margin-top: 30px;

		.item {
			margin-left: 14px;
			margin-right: 14px;
			color: $secondary-text-color;
			background-color: transparent;
			font-size: 15px;
			font-weight: 600;
			border: none;
			text-transform: uppercase;
		}

		.item a {
			color: $secondary-text-color;
			background-color: transparent;
		}
	}
}

// custom login layout
ion-modal-view.login {
	
	ion-content {
		margin-top: 0;
		padding-top: 80px;
	}

	.scroll,
	.scroll-content-false {

		.logo {
			margin: 0 auto 5em auto;
			width: 225px;
			height: 34px;
			background-image: url($bb-logo-s);
			background-size: 100% 100%;
		}

		.links {
			padding: 0 7px;

			.col {
				padding: 0;

				&.left {
					text-align: left;
				}
				&.right {
					text-align: right;
				}

				a {
					padding: 0;
					text-transform: none;
					font-size: 14px;
					font-weight: 400;
					color: $secondary-text-color;
				}
			}
		}

		.item {
			background-color: transparent;

			&.submit {
				padding: 0;
				padding-top: 20px;
				background-color: transparent;
				border: none;
			}

			&.fb {
			    margin-top: -5px;
			    padding: 0;
			    border: none;
				background-color: transparent;
			}

			input {
				border-bottom: solid 1px lighten($primary-text-color, 20%);
				color: $light;
			}
		}

	}
}

// dashboard layout
ion-view.dashboard {

	.main-info {
		padding: 20px 10px 5px 10px;

		.left,
		.right {
			padding: 0;
		}

		.left {
			text-align: left;

			.name {
				font-size: 17px;
				font-weight: 500;
			}
		}

		.right {
			text-align: right;
			font-weight: 500;

			.level,
			.sales,
			.divider {
				font-size: 12px;
				text-transform: uppercase;
			}

			.divider {
				margin-left: 3px;
				margin-right: 4px;
			}
		}

		.load-bar-wrapper {
			width: 100%;
			margin-top: 2px;
			background-color: darken($primary-bg-color, 8%);

			.load-bar-value {
				background-color: $primary-color;
			}
		}
	}

	.row.earnings {
		margin-top: 15px;
		padding: 0px;
		background-color: $primary-color;
		color: $secondary-text-color;

		.cash,
		.giftcard {
			padding-top: 19px;
    		padding-left: 18px;
    		padding-bottom: 15px;

			.currency,
			.number {
				margin-left: -2px;
				font-size: 25px;
			}

			.label {
				margin-top: 5px;
				font-size: 12px;
				font-weight: 500;
				line-height: 12px;
				opacity: 0.7;
			}
		}

		.giftcard {
			background-color: $secondary-color;
		}
	}

	.row.ranking {
		background-color: $primary-bg-color;
	}

	.row.points {
		background-color: darken($primary-bg-color, 6%);
	}

	.row.ranking,
	.row.points {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;

		.global {
			.load-bar-wrapper {
				background-color: darken($primary-bg-color, 6%);

				.load-bar-value {
					background-color: $primary-color;
				}
			}
		}

		.total {
			.load-bar-wrapper {
				background-color: darken($primary-bg-color, 14%);

				.load-bar-value {
					background-color: $primary-color;
				}
			}
		}

		.global,
		.total {
			padding: 17px 7px 14px 7px;

			.value {
				font-size: 23px;
			}

			.label {
				margin-top: 5px;
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;
				opacity: 0.7;
			}
		}

		.right {
			padding: 0;
			margin-left: 6px;

			.country {
				background-color: darken($primary-bg-color, 2%);
			}

			.city {
				background-color: darken($primary-bg-color, 4%);
			}

			.bonus {
				background-color: darken($primary-bg-color, 8%);
			}

			.sale {
				background-color: darken($primary-bg-color, 10%);
			}

			.country,
			.bonus {
				padding: 7px 11px 8px 11px;
			}

			.city,
			.sale {
				margin-top: 0px;
			}

			.country,
			.city,
			.bonus,
			.sale {
				padding: 11px;

				.label {
					padding: 0;

					.number {
						font-weight: 300;
						padding: 0 3px;
						border-radius: 7px;
						margin-top: 8px;
						font-size: 10px;
					}
					.text {
						font-weight: 500;
						margin-left: 3px;
						font-size: 15px;
					}
				}

				.value {
					padding: 0;
					text-align: right;
					font-size: 20px;
				}
			}
		}
	}

	.news-slider {

		.news-header {
			height: 42px;
			background-color: lighten($primary-bg-color, 68%);
			border-bottom: 1px solid lighten($primary-bg-color, 61%);
			color: lighten($primary-bg-color, 38%);
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			line-height: 44px;
		}

		.news-content {
			background-color: $secondary-bg-color;

			.list {
				margin-right: 10px;
				margin-left: 10px;

				.title {
					margin-bottom: 1px;
					padding-top: 14px;
					padding-bottom: 7px;
					background-color: $secondary-bg-color;
					border: none;
					border-bottom: 1px solid lighten($primary-bg-color, 61%);

					a {
						padding: 0;
						color: lighten($primary-bg-color, 9%);
						font-size: 17px;
						font-weight: 500;
						text-transform: uppercase;
					}
				}

				.item-avatar {
					margin-bottom: 1px;
					border: none;
					border-bottom: 1px solid lighten($primary-bg-color, 61%);

					a {
						padding-top: 19px;
						padding-bottom: 19px;
						padding-right: 15px;
						min-height: 92px;

						img {
							top: 19px;
							left: 0;
							max-width: 55px;
							max-height: 55px;
						}

						h2 {
							color: $primary-color;
							font-size: 17px;
							font-weight: 500;
						}

						p {
							margin-top: 5px;
							color: lighten($primary-bg-color, 9%);
							font-size: 14px;
							font-weight: 400;
							overflow: initial;
							white-space: initial;
							text-align: justify;
						}
					}

				}
			}
		}
	}
}

// levels layout
ion-view.levels {

	ion-content {

		.list {
			margin-top: 0;
			padding-bottom: 20px;
			background-color: transparent;

			.item {
				padding: 0;
				padding-top: 18px;
				border: none;
				background-color: transparent;

				&.level-1 .wrapper {
					background-image: url($level-1-bg);
				}
				&.level-2 .wrapper {
					background-image: url($level-2-bg);
				}
				&.level-3 .wrapper {
					background-image: url($level-3-bg);
				}

				.wrapper {
					padding: 17px 15px;
					border-radius: 3px;
					background-color: $primary-bg-color;
					background-size: cover;

					.checkmarker {
						margin-top: -30px;
						margin-right: 1px;
						background-color: $light;
						text-align: center;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						float: right;

						.sign {
							font-size: 36px;
							color: $primary-color;

							&.sign-cover {
								position: relative;
								margin-top: 3px;
							  	margin-left: 3px;
							  	width: 29px;
							  	height: 29px;
							  	background: white;
							  	border-radius: 50%;
							  	border: 2px solid $primary-color;
							  }
						}

					}

					.title {
						font-size: 17px;
						font-weight: 300;
						text-transform: uppercase;
						color: $secondary-text-color;
					}

					.subtitle {
						float: left;
						margin-top: -3px;
						font-size: 11px;
						color: $primary-color;
						font-weight: 600;
					}

					.info-wrapper {
						margin-top: 32px;
						color: $secondary-text-color;
						font-weight: 300;

						.info {
							margin-top: 3px;
							padding: 5px 10px;
							background-color: transparent;
							border: none;
							text-align: left;

							span.sign {
								float: left;
								margin-top: 1px;
								margin-right: 10px;
								display: inline-block;
								font-size: 16px;
							}

							span.text {
								display: block;
								padding-left: 23px;
								font-size: 14px;
								white-space: normal;
							}
						}

					}

				}

			}

		}

	}

}

// ranking layout
ion-view.ranking {

	.row.top-ranking {
		height: 85px;
		padding: 0;
		padding-bottom: 1px;
		text-align: center;

		.col {
			margin-top: -1px;
			padding: 22px 10px 1px;
			background-color: $ranking-top-bg;

			&.global {
				background-color: $primary-bg-color;
			}

			&.country {
				background-color: darken($primary-bg-color, 2%);
			}

			&.city {
				background-color: darken($primary-bg-color, 4%);
			}

			.rank {

				.value {
					font-size: 32px;
					font-weight: 300;
				}

				.label {
					margin-top: 14px;
					font-size: 16px;
					opacity: 0.7;
					font-weight: 500;
				}
			}
		}
	}

	.info {
		margin-top: -1px;
	}

	.table-header {
		.row {
			.col {
				&.country {
					text-align: center;
				}

				&.points {
					text-align: right;
				}
			}
		}
	}

	.table-body {
		.row {
			.col {
				&.country {
					text-align: center;
					text-transform: uppercase;
				}

				&.points {
					text-align: right;
				}
			}
		}
	}
}

// goals layout
ion-view.goals {

	.list .item {
		border: none;

		&.item-stable {
			padding: 12px 10px 1px 10px;
			min-height: 50px;
			background-color: lighten($tertiary-bg-color, 6%);

			&.active {
				background-color: lighten($tertiary-bg-color, 6%);
			}

			.title {
				padding-bottom: 5px;

				.arrow {
					float: left;
					display: inline-block;
					padding: 0 6px;
				}

				.name {
					margin-left: 8px;
					padding-right: 20px;
					display: inline-block;
					font-size: 14px;
					font-weight: 600;
					white-space: normal;
				}
			}

		}

		&.item-accordion {
		  	padding-top: 0;
		  	padding-bottom: 0;
		  	overflow: hidden;
		  	line-height: 38px;
		  	transition: 0.09s all linear;

		  	&.ng-hide {
		  		line-height: 0px;
		  	}

			&.ng-hide-add,
			&.ng-hide-remove {
			  	display: block !important;
			}

			.ranking {

				.details {
					margin-top: 15px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					background-color: $primary-color;
					color: $secondary-text-color;

					.row {
						padding: 7px 8px 3px 5px;

						.label {
							line-height: 16px;
							font-size: 14px;
							font-weight: 300;
							text-transform: uppercase;
						}

						.value {
							font-size: 30px;
							line-height: 28px;
							text-align: right;
						}
					}

				}

				.status {
					padding: 7px 10px;
					border-bottom-left-radius: 3px;
					border-bottom-right-radius: 3px;
					background-color: lighten($tertiary-bg-color, 6%);
					font-size: 12px;
					line-height: 12px;

					&.error {
						color: $secondary-error-color;
					}

					&.success {
						color: $primary-success-color;
					}
				}
			}

			.requirements {
				margin-top: 3px;
				font-size: 10px;
				text-transform: uppercase;

				.row {
					padding: 0;
					padding-top: 7px;
					border-bottom: 1px solid lighten($primary-bg-color, 63%);

					.col {
						padding: 0;
						line-height: 23px;

						&.label {

						}

						&.value {
							text-align: right;

							.type {
								font-size: 7px;
							}
						}
					}
				}
			}

			.content {
				margin-top: 20px;
				margin-bottom: 6px;
				text-align: justify;

				p {
					line-height: 20px;
					font-size: 12px;
				}

				img {
					width: 100%;
				}
			}
	  	}
	}

}

//missions layout
ion-view.missions {

	ion-item {

		min-height: 130px;

		&.incompleted {

			.details .left {

				.points {
					border: 4px solid $primary-error-color;
				}

				.status {
					color: $primary-error-color;
				}
			}
		}
		&.completed {

			.details .left {

				.points {
					border: 4px solid lighten($primary-success-color, 4%);
				}

				.status {
					color: lighten($primary-success-color, 4%);
				}
			}
		}
		&.waiting {

			.details .left {

				.points {
					border: 4px solid $primary-warning-color;
				}

				.status {
					color: $primary-warning-color;
				}
			}
		}

		.details {
			margin-top: 3px;

			.left {
				float: left;
				margin-right: 14px;
				text-align: center;

				.points {
					padding: 20px 17px 16px;
					display: inline-block;
					text-align: center;
					border-radius: 50%;
					width: 80px;
					height: 80px;

					.value {
						font-size: 22px;
						font-weight: 300;
					}

					.label {
						margin-top: 5px;
						font-size: 10px;
						text-transform: uppercase;
						line-height: 11px;
						font-weight: 300;
					}
				}

				.status {
					margin: 4px 0 10px;
					font-size: 11px;
					font-weight: 300;
				}
			}

			.right {

				.title {
					font-size: 17px;
					font-weight: 600;
				}

				.body {
					margin-top: 8px;
					font-size: 14px;
					text-align: justify;
					line-height: 18px;
					text-align: justify;

					p {
						line-height: 18px;
						font-size: 12px;
					}

					img {
						width: 100%;
					}
				}
			}
		}

		.actions {
			padding-top: 12px;

			input,
			textarea {
				margin-bottom: 17px;
			}
		}
	}
}

// coupons layout
ion-view.codes {

	.request {
		margin-top: -10px;
		margin-bottom: -5px;
		padding: 0 10px 1px 10px;

		input {
			padding-top: 30px;

			&.code {
				text-transform: uppercase;
			}
		}

		.button {
			margin-top: 15px;
		}
	}

	.table-header {

		.row {

			.col {
				padding: 0;

				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					text-align: center;
					padding-left: 15px;
				}
			}
		}
	}

	.table-body {

		.row {

			.col {

				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					padding-left: 15px;
					text-align: center;
				}
			}
		}
	}
}

//forgot layout
ion-modal-view.forgot {

	.scroll {

		.logo {
			margin: 3em auto 5em auto;
			width: 225px;
    		height: 34px;
			background-image: url($bb-logo-s);
			background-size: 100% 100%;
		}

		.submit {
			padding: 0;
			padding-top: 5px;
			background-color: transparent;
			border: none;
		}
	}
}

//reset layout
ion-modal-view.reset {

	ion-content {
		margin-top: 0;
		padding-top: 40px;
	}

	.scroll {

		.logo {
			margin: 3em auto 5em auto;
			width: 225px;
    		height: 34px;
			background-image: url($bb-logo-s);
			background-size: 100% 100%;
		}

		.submit {
			padding: 0;
			padding-top: 15px;
			background-color: transparent;
			border: none;
		}
	}
}

//register layout
ion-modal-view.register {

	.scroll {
		margin-top: 30px;

		.info {
			margin-bottom: 20px;
			color: $secondary-text-color;
			text-align: center;
			font-weight: 300;
		}

		.button {
			margin-bottom: 25px;
		}

		a.terms {
			margin-left: -5px;
			font-size: 14px;
		}

		label {

			&.checkbox {
				margin-top: 10px;
				color: $light;

				input {
					float: left;
				}

				input:checked:before, input:checked + .checkbox-icon:before {
					background-color: $primary-color;
					border-color: $primary-color;
				}

				span {
					margin-left: 15px;
					line-height: 28px;
					font-size: 1em;
				}
			}

			&.item-input {
				margin-top: 1px;
				background-color: $input-color !important;
				border: none;

				&.top {
					border-bottom: 1px solid lighten($primary-bg-color, 55%);
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
				&.middle {
					border-bottom: 1px solid lighten($primary-bg-color, 55%);
				}
				&.bottom {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				input {
					color: lighten($primary-bg-color, 9%);
					font-size: 1em;
					font-weight: 300;
				}

				select {
					margin-left: -3px;
					padding: 6px 0;
					width: 100%;
					color: lighten($primary-bg-color, 9%);
					border: none;
					background-color: transparent;
					font-size: 17px;
				}
			}

			&.delimiter {
				padding: 10px;
				background-color: transparent;
				border: none;
			}

			&.input-label {
				color: $secondary-text-color;

				&.full-width {
					width: 100%;
					max-width: none;
				}
			}
		}

		.submit {
			padding: 0;
			padding-top: 5px;
			background-color: transparent;
			border: none;

			button {
				background-color: $primary-color;
			}
		}
	}
}

// payouts layout
ion-view.payouts {

	ion-content {
		background-color: $light;
	}

	.request {
		margin-top: -10px;
		margin-bottom: -5px;
		padding: 0 10px 1px 10px;

		label {
			&.checkbox {
				width: 100%;

				input {
					float: left;
				}

				input:checked+.checkbox-icon:before, input:checked:before {
					background-color: $primary-color;
					border-color: $primary-color;
				}

				span.details {
					margin-left: 15px;
					line-height: 28px;
				}
			}
		}
	}

	.table-header {
		.row {
			.col {
				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					text-align: center;
					padding-left: 15px;
				}
			}
		}
	}

	.table-body {
		.row {
			.col {
				&.code {
					margin-right: 15px;
				}
				&.discount {
					text-align: center;
				}
				&.expires {
					padding-left: 15px;
					text-align: center;
				}
			}
		}
	}
}

// profile layout
ion-view.profile {
	ion-content {
		background-color: $light;
	}

	.social {
		.wrapper {
			width: 100%;
			line-height: 16px;
			font-weight: normal;
			padding: 12px 2px;
			color: $light;
			text-align: center;
			border-radius: 3px;

			.logo {
				font-size: 35px;
				padding-bottom: 12px;
			}

			.label {
				text-transform: uppercase;
				font-size: 14px;
			}

			&.vn {

				.logo {
				    margin-top: 4px;
				    margin-bottom: 14px;
					height: 29px;
					background-image: url($vine-logo);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}

// terms layout
ion-view.terms {
	p {
		text-align: justify;
		margin-top: 15px;
	}
}

// blog layouts
ion-view.blog {
	ion-content {
		background-color: $light;
	}

	img {
		width: 100%;
		height: 100%;
	}

	.title {
		margin-top: 15px;
		font-size: 17px;
		font-weight: 600;
		color: $primary-color;
		line-height: 20px;
		text-align: center;
	}

	p {
		text-align: justify;
		margin-top: 15px;
		line-height: 18px;
		font-size: 12px;
	}
}

// salesteam layout
ion-view.salesteam {

	.button {
		margin-top: 15px;
	}

	.table-title {
		span {

			p.invitations-left {
				margin: 0;
				margin-top: 8px;
			}
		}
	}

	.table-header {
		.row {
			.col {

				&.email {
					margin-right: 15px;
					flex: 0 0 65%;
					max-width: 65%;

				}
				&.status {
					flex: 0 0 35%;
    				max-width: 35%;
					text-align: center;
				}
			}
		}
	}

	.table-body {
		.row {
			.col {
				&.email {
					margin-right: 15px;
					flex: 0 0 65%;
					max-width: 65%;

				}
				&.status {
					flex: 0 0 35%;
    				max-width: 35%;
					text-align: center;
				}
			}
		}
	}
}

// social linking layout
ion-modal-view.social {

	.info {
		margin-top: 30px;
		margin-bottom: 20px;
		color: $secondary-text-color;
		text-align: center;
		font-weight: 300;

		b {
			font-weight: 500;
		}
	}

	.wrapper {
		width: 100%;
		line-height: 16px;
		font-weight: normal;
		padding: 12px 2px;
		color: $light;
		text-align: center;
		border-radius: 3px;

		.logo {
			font-size: 35px;
			padding-bottom: 12px;
		}

		.label {
			text-transform: uppercase;
			font-size: 14px;
		}

		&.vn {

			.logo {
			    margin-top: 4px;
			    margin-bottom: 14px;
				height: 29px;
				background-image: url($vine-logo);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	.item.submit {
		margin-top: 25px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
}

// admin brandbassadors layout
ion-view.admin.brandbassadors {
	.status {
		text-align: center;
	}

	.table-header {
		.row {
			.col {
				&.details {
					padding-left: 5px;
				}
			}
		}
	}

	.table-body {
		font-size: 14px;

		.list {
			padding-top: 10px;
		}

		.row {

			.col {

				&.followers {
					text-align: center;
					font-size: 17px;
				}

				&.details {
					padding-left: 10px;

					.name {
						font-weight: 700;
					}

					.location {
						margin-top: 5px;
						color: lighten($primary-text-color, 60%);
					}
				}
			}
		}
	}
}

// admin brandbassadorView layout
ion-view.admin.brandbassadorView {
	ion-content {
		background-color: $light;
	}

	.status {
		text-align: center;
	}

	.stats {
		margin-bottom: 10px;

		.row {
			margin: 0;
			padding: 0px;
			height: 75px;

			.col {
				padding: 24px 7px 0px 10px;

				&.global {
					background-color: $primary-bg-color;
				}

				&.country {
					background-color: darken($primary-bg-color, 2%);
				}

				&.city {
					background-color: darken($primary-bg-color, 4%);
				}

				&.salesPoints {
					background-color: darken($primary-bg-color, 6%);
				}

				&.bonusPoints {
					background-color: darken($primary-bg-color, 8%);
				}

				&.sales {
					background-color: darken($primary-bg-color, 10%);
				}

				&.codes {
					background-color: $primary-color;
					color: $light;
				}

				&.earnings {
					background-color: $secondary-color;
					color: $light;
				}

				&.commission {
					background-color: $primary-color;
					color: $light;
				}

				.value {
					font-size: 21px;
				}

				.label {
					margin-top: 5px;
				    font-weight: 500;
				    font-size: 12px;
				    line-height: 15px;
				    opacity: 0.7;
				}
			}
		}
	}

	.social {
		.wrapper {
			width: 100%;
			line-height: 16px;
			font-weight: normal;
			padding: 12px 2px;
			color: $light;
			text-align: center;
			border-radius: 3px;

			.logo {
				font-size: 35px;
				padding-bottom: 12px;
			}

			.label {
				text-transform: uppercase;
				font-size: 14px;
			}

			&.vn {

				.logo {
				    margin-top: 4px;
				    margin-bottom: 14px;
					height: 29px;
					background-image: url($vine-logo);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}

// admin goals layout
ion-view.admin.goalWinners {
	.padding {
		padding-bottom: 0;
		padding-top: 15px;
	}

	.table-title {
		padding-top: 10px;
	}

	.table-header {
		.row {
			.col {
				&.name {
					padding-left: 5px;
				}
			}
		}
	}

	.table-body {

		.list {
			padding-top: 10px;
		}

		.row {

			.col {

				&.name {
					padding-left: 10px;
				}
			}
		}
	}
}

// admin goal edit layout
ion-view.admin.goalEdit {
	ion-content {
		background-color: $light;
	}

	.padding {
		padding: 10px 15px;
	} 

	.button {
		margin: 20px 10px;
	}
}

// admin missions layout
ion-view.admin.missions {
	.table-header {
		.row {
			.col {
				&.name {
					padding-left: 5px;
				}
			}
		}
	}

	.table-body {

		.list {
			padding-top: 10px;

			.item {
				min-height: 0;
			}
		}

		.row {

			.col {

				&.name {
					padding-left: 10px;
				}
			}
		}
	}
}

// admin missionUsers layout
ion-view.admin.missionUsers {
	.padding {
		padding-bottom: 0;
		padding-top: 15px;
	}

	.table-title {
		padding-top: 10px;
	}

	.table-header {
		.row {
			.col {
				&.name {
					padding-left: 5px;
				}
			}
		}
	}

	.table-body {

		.list {
			padding-top: 10px;
		}

		.row {

			.col {

				&.name {
					padding-left: 10px;
				}
			}
		}
	}
}

// admin missionUserApplication layout
ion-view.admin.missionUserApplication {
	ion-content {
		background-color: $light;
	}

	.details {
		font-size: 14px;
		background-color: lighten($tertiary-bg-color, 6%);
	}

	img {
		width: 100%;
	}
}

// admin dashboard layout
ion-view.admin.adminDashboard {
	ion-content {
		background-color: $light;
	}

	.adminStats {
		.row {
			margin: 0;
			padding: 0px;
			height: 75px;

			.col {
				padding: 24px 7px 0px 10px;

				&.users {
					background-color: $primary-bg-color;
				}

				&.pending {
					background-color: darken($primary-bg-color, 2%);
				}

				&.sales {
					background-color: darken($primary-bg-color, 4%);
				}

				&.followers {
					background-color: darken($primary-bg-color, 6%);
				}

				&.salesPoints {
					background-color: darken($primary-bg-color, 8%);
				}

				&.bonusPoints {
					background-color: darken($primary-bg-color, 10%);
				}

				&.earnings {
					background-color: $primary-color;
					color: $light;
				}

				&.commission {
					background-color: $secondary-color;
					color: $light;
				}

				.value {
					font-size: 21px;
				}

				.label {
					margin-top: 5px;
				    font-weight: 500;
				    font-size: 12px;
				    line-height: 15px;
				    opacity: 0.7;
				}

			}
		}
	}

	.notificationsTitle {
		margin-top: 5px;
	}

	.notifications {
		padding: 0 10px;
		
		.notification {
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 12px 10px;
			background-color: $primary-color;
			color: $light;
			font-size: 13px;
			border-radius: 3px;
		}
	}
}

// admin settings layout 
ion-view.admin.settings {
	ion-content {
		background-color: $light;
	}

	.button {
		margin: 20px 10px;
	}
}

// admin edit mission
ion-view.admin.missionEdit {
	ion-content {
		background-color: $light;
	}

	.button {
		margin: 20px 10px;
	}
}