<ion-view view-title="{{blog.name}}" class="custom blog">
	<div class="companiesSelector" ng-include="'templates/companiesSelector.html'" ng-controller="CompaniesCtrl"></div> 

  	<ion-content class="padding">

        <img src="{{blog.image}}">

        <div class="title">{{blog.name}}</div>

        <div class="body" ng-bind-html="blog.body"></div>

  	</ion-content>
</ion-view>
