<ion-view view-title="{{strings.codes.pageTitle}}" class="custom codes">
    <div class="companiesSelector" ng-include="'templates/companiesSelector.html'" ng-controller="CompaniesCtrl"></div> 
    
  	<ion-content>

        <div class="info">
            <span>{{strings.codes.pageInfo}}</span>
        </div>  

        <div class="table-title">
            <span>{{code_type}} {{strings.codes.labelRequestTitle}}</span>
        </div>	

        <div class="request">
            <div class="item item-input">
                <input type="text" ng-model="codeData.code" class="code" required/>
                <label>{{strings.codes.inputCodeInfo}}</label>
            </div>
            <div class="item item-input">
                <textarea ng-show="codeData.type == 'multiUse'" ng-model="codeData.link" required></textarea>
                <label>{{strings.codes.inputLinkInfo}}</label>
            </div>
            <div class="button button-block button-positive" ng-click="createCode()">{{strings.codes.actionRequest}}</div>
        </div>	

        <div class="table-title">
            <span>{{strings.codes.codesTableTitle}}</span>
        </div>  

        <div class="table-header">
            <div class="row">
                <div class="col col-40 code">{{strings.codes.codesTableHeaderCode}}</div>
                <div class="col col-20 discount">{{strings.codes.codesTableHeaderDiscount}}</div>
                <div class="col col-40 expires">{{strings.codes.codesTableHeaderExpires}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <div ng-repeat="(key, code) in discountCodes">
                <div class="row">
                    <div class="col col-40 code">{{code.code}}</div>
                    <div class="col col-20 discount">{{code.discount}}%</div>
                    <div ng-show="code.status == '1'" class="col col-40 expires">{{code.expires | date:'dd MMM yyyy'}}</div>
                    <div ng-hide="code.status == '1'" class="col col-40 expires">{{strings.codes.labelStatusPending}}</div>
                </div>
            </div>
            <div class="row" ng-hide="discountCodes.length > 0">
                {{strings.codes.codesTableNoData}}
            </div>
        </div>

  	</ion-content>
</ion-view>
