<ion-scroll zoom="true" direction="x">
	<div class="wrapper" ng-style="{'width': '{{companySelectorWrapperWidth}}px'}">
		<div class="company" ng-class="currentCompany == company.id ? 'active' : ''" ng-click="changeCompany(company.id)" ng-style="{'width' : '{{companySelectorItemWidth}}px'}" ng-repeat="company in companies">
			<img src="{{company.logo}}">
		</div>
	</div>
</ion-scroll>