<ion-view view-title="{{strings.dashboard.pageTitle}}" class="custom dashboard">
    <div class="companiesSelector" ng-include="'templates/companiesSelector.html'" ng-controller="CompaniesCtrl"></div> 

    <ion-content>
    <div class="main-info">
    		  	<div class="row">
    				<div class="col left">
    					<span class="name">{{profile.first_name}} {{profile.last_name}}</span>
    				</div>
    				<div class="col right">
    					<span class="level">{{strings.dashboard.labelLevel}} {{level}}</span>
    					<span class="divider"> | </span>
    					<span class="sales">{{profile.sales}} {{strings.dashboard.labelSales}}</span>
    				</div>
    		  	</div>
    		  	<div class="load-bar-wrapper">
    		  		<div class="load-bar-value" style="width: {{profile.level.percentage}}%;"></div>
    		  	</div>
    	  	</div>

    	    <a class="button button-block button-positive margin" ng-click="onCodesClick()">
    	    	{{strings.dashboard.labelCreateCode}}
    	    </a>

    	    <div class="row earnings">
    	    	<div class="col cash">
    	    		<div class="value">
    	    			<span class="currency">$</span>
    	    			<span class="number">{{profile.earnings.cash}}</span>
    	    		</div>
    	    		<div class="label">{{strings.dashboard.labelEarningsCash}}</div>
    	    	</div>
    	    	<div class="col giftcard">
    	    		<div class="value">
    	    			<span class="currency">$</span>
    	    			<span class="number">{{profile.earnings.giftcard}}</span>
    	    		</div>
    	    		<div class="label">{{strings.dashboard.labelEarningsGiftcard}}</div>
    	    	</div>
    	    </div>

    	    <div class="row ranking">
    	    	<div class="col col-33 global">
    	    		<div class="value">{{profile.ranking.global.rank}}</div>
    	    		<div class="label">{{strings.dashboard.labelGlobalRanking}}</div>
    	    		<div class="load-bar-wrapper">
    	    			<div class="load-bar-value" style="width: {{profile.ranking.global.percentage}}%;"></div>
    	    		</div>
    	    	</div>
    	    	<div class="col col-66 right">
    	    		<div class="row country">
    	    			<div class="col label">
    	    				<!-- <span class="number">3</span> -->
    	    				<span class="text">{{profile.country.short_name}}</span>
    	    			</div>
    	    			<div class="col value">{{profile.ranking.country.rank}}</div>
    	    		</div>
    	    		<div class="row city">
    	    			<div class="col label">
    	    				<!-- <span class="number">1</span> -->
    	    				<span class="text">{{profile.city}}</span>
    	    			</div>
    	    			<div class="col value">{{profile.ranking.city.rank}}</div>
    	    		</div>
    	    	</div>
    	    </div>

    	    <div class="row points">
    	    	<div class="col col-33 total">
    	    		<div class="value">{{profile.points.total}}</div>
    	    		<div class="label">{{strings.dashboard.labelTotalPoints}}</div>
    	    		<div class="load-bar-wrapper">
    	    			<div class="load-bar-value" style="width: {{profile.points.percentage}}%;"></div>
    	    		</div>
    	    	</div>
    	    	<div class="col col-66 right">
    	    		<div class="row bonus">
    	    			<div class="col label">
    	    				<!-- <span class="number">4</span> -->
    	    				<span class="text">{{strings.dashboard.labelBonusPoints}}</span>
    	    			</div>
    	    			<div class="col value">{{profile.points.bonus}}</div>
    	    		</div>
    	    		<div class="row sale">
    	    			<div class="col label">
    	    				<!-- <span class="number">12</span> -->
    	    				<span class="text">{{strings.dashboard.labelSalesPoints}}</span>
    	    			</div>
    	    			<div class="col value">{{profile.points.sales}}</div>
    	    		</div>
    	    	</div>
    	    </div>

    </ion-content>

</ion-view>