<ion-view view-title="{{strings.levels.pageTitle}}" class="custom levels">
    <div class="companiesSelector" ng-include="'templates/companiesSelector.html'" ng-controller="CompaniesCtrl"></div> 
    
  	<ion-content>

  		<div class="list list-inset">

  			<div class="item level-1">
  				<div class="wrapper">
  					<div class="checkmarker">
  						<div class="sign {{levels.level_1.class}}"></div>
  					</div>
  					<div class="title">
  						{{strings.levels.labelLevel1}}
  					</div>
            <div class="subtitle" ng-hide="profile.level.value != -2">
              {{strings.levels.labelCurrentLevel}}
            </div>
            <div class="info-wrapper">
                <div class="info">
                  <span class="sign ion-ios-checkmark"></span> 
                  <span class="text">{{levels.level_1.commission}}% commission on all sales</span>
                </div>
                <div ng-repeat="(key, detail) in levels.level_1.details">
                  <div class="info">
                    <span class="sign ion-ios-checkmark"></span> 
                    <span class="text">{{detail}}</span>
                  </div>
                </div>
            </div>
  				</div>
  			</div>
  			<div class="item level-2">
	        <div class="wrapper">
            <div class="checkmarker">
              <div class="sign {{levels.level_2.class}}">
              </div>
            </div>
            <div class="title">
              {{strings.levels.labelLevel2}}
            </div>
            <div class="subtitle" ng-hide="profile.level.value != -1">
              {{strings.levels.labelCurrentLevel}}
            </div>
            <div class="info-wrapper">
                <div class="info">
                  <span class="sign ion-ios-checkmark"></span> 
                  <span class="text">{{levels.level_2.commission}}% commission on all sales</span>
                </div>
                <div ng-repeat="(key, detail) in levels.level_2.details">
                  <div class="info">
                    <span class="sign ion-ios-checkmark"></span> 
                    <span class="text">{{detail}}</span>
                  </div>
                </div>
            </div>
          </div>
  			</div>
  			<div class="item level-3">
	        <div class="wrapper">
            <div class="checkmarker">
              <div class="sign {{levels.level_3.class}}">
              </div>
            </div>
            <div class="title">
              {{strings.levels.labelLevel3}}
            </div>
            <div class="subtitle" ng-hide="profile.level.value < 0">
              {{strings.levels.labelCurrentLevel}}
            </div>
            <div class="info-wrapper">
                <div class="info">
                  <span class="sign ion-ios-checkmark"></span> 
                  <span class="text">{{levels.level_3.commission}}% {{strings.levels.labelCommission}}</span>
                </div>
                <div ng-repeat="(key, detail) in levels.level_3.details">
                  <div class="info">
                    <span class="sign ion-ios-checkmark"></span> 
                    <span class="text">{{detail}}</span>
                  </div>
                </div>
            </div>
          </div>
  			</div>

  		</div>

  	</ion-content>
</ion-view>
