<ion-modal-view class="login custom">
  <ion-content class="padding">
    <div class="logo"></div>
    <div class="row links">
      <div class="col left">
        <a href="#/forgot" class="button button-clear button-light">{{strings.login.labelForgotPassword}}</a>
      </div>
      <!-- <div class="col right">
        <a href="#/register" class="button button-clear button-light">{{strings.login.labelRegister}}</a>
      </div> -->
    </div>
    <form>
      <div class="list">
        <div class="item item-input username">
          <input autocapitalize="off" type="text" ng-model="loginData.email" required>
          <label>{{strings.login.inputEmailInfo}}</label>
        </div>
        <label class="item item-input password">
          <input autocapitalize="off" type="password" ng-model="loginData.password" required>
          <label>{{strings.login.inputPasswordInfo}}</label>
        </label>
        <label class="item submit">
          <button class="button button-block button-positive" ng-click="doLogin()">{{strings.login.actionLogin}}</button>
        </label>
        <label class="item fb">
          <button class="button button-block fb" ng-click="doFBLogin()">{{strings.login.actionFBLogin}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
