<ion-view view-title="{{strings.ranking.pageTitle}}" class="custom ranking">
    <div class="companiesSelector" ng-include="'templates/companiesSelector.html'" ng-controller="CompaniesCtrl"></div> 
    
    <ion-content>
      	<div class="row top-ranking">
            <div class="col global">
                <div class="rank">
                    <div class="value">{{profile.ranking.global.rank}}</div>
                    <div class="label">{{strings.ranking.labelGlobal}}</div>
                </div>
            </div>
            <div class="col country">
                <div class="rank">
                    <div class="value">{{profile.ranking.country.rank}}</div>
                    <div class="label">{{strings.ranking.labelCountry}}</div>
                </div>
            </div>
            <div class="col city">
                <div class="rank">
                    <div class="value">{{profile.ranking.city.rank}}</div>
                    <div class="label">{{strings.ranking.labelCity}}</div>
                </div>
            </div>
        </div>

        <div class="info">
            <span>{{strings.ranking.pageInfo}}</span>
        </div>
        
        <div class="table-title">
            <span>{{strings.ranking.topTableTitle}}</span>
        </div>
        
        <div class="table-header">
            <div class="row">
                <div class="col col-40 name">{{strings.ranking.topTableHeaderName}}</div>
                <div class="col col-30 country">{{strings.ranking.topTableHeaderCountry}}</div>
                <div class="col col-30 points">{{strings.ranking.topTableHeaderPoints}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <div ng-repeat="(key, user) in globalRanking.top">
                <div class="row">
                    <div class="col col-40 name">{{user.first_name}} {{user.last_name}}</div>
                    <div class="col col-30 country">{{user.country}}</div>
                    <div class="col col-30 points">{{user.total_points}}</div>
                </div>
            </div>

            <div class="row" ng-hide="discountCodes.length > 0">
                {{strings.ranking.tableNoData}}
            </div>
        </div>
    </ion-content>
</ion-view>
