<ion-modal-view class="register">
  <ion-content class="padding">

    <div class="info">{{strings.register.pageInfo}}</div>

    <button class="button button-block fb" ng-click="doFBRegister()">{{strings.register.labelRegisterFB}}</button>

  </ion-content>
</ion-modal-view>
