<ion-modal-view class="custom reset">
  <ion-content class="padding">
    <div class="logo"></div>

    <form ng-submit="doReset()">
      <div class="list">
        <div class="item item-input top password">
          <input autocapitalize="off" type="password" ng-model="resetData.password" required>
          <label>{{strings.reset.inputNewPasswordInfo}}</label>
        </div>
        <div class="item item-input bottom password">
          <input autocapitalize="off" type="password" ng-model="resetData.confirm_password" required>
          <label>{{strings.reset.inputConfirmPasswordInfo}}</label>
        </div>
        <label class="item submit">
          <button class="button button-block button-positive" type="submit">{{strings.reset.actionReset}}</button>
        </label>
      </div>
    </form>
    
  </ion-content>
</ion-modal-view>
