<ion-view view-title="{{strings.salesteam.pageTitle}}" class="custom salesteam">
    <div class="companiesSelector" ng-include="'templates/companiesSelector.html'" ng-controller="CompaniesCtrl"></div> 
    
  	<ion-content>

        <div class="info">
            <span>{{strings.salesteam.pageInfo}}</span>
        </div>  

        <div class="table-title">
            <span>
            	{{strings.salesteam.labelInvite}} <b>{{salesteam.underkeepers}} {{strings.salesteam.labelUnderKeepers}}</b>
            	<p class="invitations-left">{{salesteam.invitations_left}} {{strings.salesteam.labelInvitations}}</p>
            </span>
            <div class="item item-input">
                <input autocapitalize="off" type="text" ng-model="invitationData.email" required/>
                <label>{{strings.salesteam.inputUnderKeeperInfo}}</label>
            </div>
            <div class="button button-block button-positive" ng-click="sendInvitation()">{{strings.salesteam.actionInvite}}</div>
        </div>	

        <div class="table-title">
            <span>{{strings.salesteam.underKeepersTableTitle}}</span>
        </div>  

        <div class="table-header">
            <div class="row">
                <div class="col email">{{strings.salesteam.underKeepersTableHeaderEmail}}</div>
                <div class="col status">{{strings.salesteam.underKeepersTableHeaderStatus}}</div>
            </div>
        </div>

        
        <div class="table-body">
            <div ng-repeat="(key, invitation) in salesteam.invitations">
                <div class="row">
                    <div class="col email">{{invitation.email}}</div>
                    <div class="col status">{{invitation.status}}</div>
                </div>
            </div>
            <div class="row" ng-hide="salesteam.invitations.length > 0">
                {{strings.salesteam.underKeepersTableNoData}}
            </div>
        </div>

  	</ion-content>
</ion-view>
